__pycache__/
ChromeDriver/
ChromeDriver(linux manjaro)/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
config.py
test/
csv_info/
test/search_for_similar.py
webapp/name.csv
webapp/price.csv
webapp.db
.gitattributes
